@charset "UTF-8";
/* 最初のタイピング画面 */
.scrsty {
  height: 100vh;
  background-color: rgb(28, 28, 28);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
}

.blue {
  color: rgb(28, 73, 222);
}

.orange {
  color: rgb(215, 107, 49);
}

.mizuiro {
  color: rgb(0, 208, 255);
}

/* メインページ */

header {
  height: 80px;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color: rgb(0, 81, 255);
  line-height: 80px;
}

header img {
  height: 80px;
  width: 80px;
}

.mcontainer {
  background-color: rgb(232, 232, 232);
  padding-top: 50px;
}

.maincontainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

main {
  width: 70%;
  margin-right: 5%;
}


.none {
  display: none;
}

aside {
  width: 25%;
  height: 200px;
  position: sticky;
  top: 0;
  z-index: 0.1;
}

.cdn{
  width: 500px;
  height: 300px;
}

.setting {
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
}

.gaptop {
  margin-top: 50px;
}

.top img {
  width: 100%;
}


main {
  padding: 50px 50px;
}

h1 {
  font-size: 15px;
}

h2 {
  width: 97%;
  background-color: rgb(232, 232, 232);
  font-size: 20px;
  border-radius: 3px;
  border-left: 3px solid rgb(255, 140, 119);
  padding-left: 10px;
}

h3 {
  width: 100%;
  font-size: 18px;
  border-radius: 3px;
  border-left: 3px solid rgb(92, 157, 255);
  margin-top: 50px;
  padding-left: 20px;
}

.red {
  color: rgb(255, 67, 67);
}

.green {
  color: rgb(85, 184, 85);
}

a {
  color: rgb(0, 81, 255);
}

p {
  line-height: 50px;
}

.setumei {
  border-bottom: 1px double crimson;
  cursor: pointer;
}

.grammarexample {
  background-color: rgb(28, 28, 28);
  line-height: 30px;
}

.exwhite {
  color: white;
}


h4{
  text-align: center;
}

.asidebox{
  padding-left: 30px;
}



.redtag{
  border-left: 3px solid rgb(255, 140, 119);
  line-height: 20px;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}

.bluetag{
  border-left: 3px solid rgb(92, 157, 255);
  line-height: 20px;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-left: 20px;
  cursor: pointer;
}


footer{
  background-color: rgb(12, 14, 70);
  display: flex;
  justify-content: center;
  color: white;
}

.content{
  margin: 0 auto;
  padding: 40px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal-bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  left: -20%;
  width: 120%;
}
.modal-content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-70%,-50%);
  width: 60%;
}

@media screen and (max-width: 1025px) {
  aside{
    display: none;
  }

  header{
    display: none;
  }

  main{
    width: 100%;
    padding: 0 50px;
  }

  .scrsty{
    display: none;
  }
}

@media screen and (max-width: 560px) {
  aside{
    display: none;
  }

  header{
    display: none;
  }

  main{
    width: 100%;
    padding: 0 50px;
  }
}


